// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Layout
@import 'layout';

// Components
@import 'components/component--loader';

// Content
body {
    // Disable scroll
    height: 100%;
    overflow: hidden;
}

.quote-wrapper {
    .site--info {
        position: absolute;
        top: 0;
        left: 0;
    }

    .site--character {
        img {
            left: 16vw;
            position: absolute;
            bottom: -9vw;
            width: 64vw;
        }
    }

    .site--quote {
        margin-bottom: 12rem;

        .site--quote-info {
            font-size: 3vw;
        }

        .site--quote-rating {
            .rating {
                font-size: 5vw;
            }

            span:nth-last-of-type(1) {
                margin-left: 2vw;
            }
        }
    }

    .site--quote-likes {
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
    }
}

// Responsive adaptions
@import 'responsive';
