// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Layout
@import 'layout';

// Components
@import 'components/component--loader';

// Content
.quote-wrapper {
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 80%;
    transition: all 0.65s ease;

    // Site character
    .site--character {
        transition: all 0.65s ease;
        display: block;
        width: 100%;
        left: 4%;
        position: fixed;
        height: 34rem;
        background-size: contain;
        background-repeat: no-repeat;
    }

    // Characters
    .haddock {
        background-image: url('./characters/haddock.png');
    }

    // Quote
    .site--quote {
        margin: 0 0 14vw 44vh;

        // Quote content
        .quote {
            display: inline-table;
            min-width: 400px;
            word-break: break-word;
            max-width: 35rem;
            transition: all 0.65s ease;
            font-size: 7vw;
        }

        // Quote info
        .site--quote-info {
            display: inline-table;
            white-space: nowrap;

            div {
                font-size: 2.4vh;
                width: 6rem;
            }
        }
    }
}

// Responsive adaptions
