// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Layout
@import 'layout';

// Components
@import 'components/component--loader';

// Content
.quote-wrapper {
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 80%;
    transition: all 0.65s ease;

    // Site character
    .site--character {
        transition: all 0.65s ease;
        display: block;
        width: 100%;
        left: 4%;
        position: fixed;
        height: 34rem;
        background-size: contain;
        background-repeat: no-repeat;
    }

    // Characters
    .haddock {
        background-image: url('./characters/haddock.png');
    }

    // Refresh quote
    a {
        z-index: 2;

        .site--info {
            display: block;
            width: 2em;
            height: 2em;
            position: relative;
            top: 0;
            left: 0;
        }
    }

    // Quote
    .site--quote {
        margin: 0 0 14vw 44vh;

        // Quote content
        .quote {
            display: inline-table;
            min-width: 400px;
            max-width: 25rem;
            transition: all 0.65s ease;
            font-size: 4em;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            line-height: 1em;
            max-height: 2em;
        }

        // Quote info
        .site--quote-info {
            display: inline-table;
            white-space: nowrap;

            div {
                font-size: 2.4vh;
                width: 6rem;
            }
        }

        // Quote rating
        .site--quote-rating {
            position: relative;
            right: 13vh;
            display: inline-flex;
            top: 10vh;

            .green {
                color: rgb(1, 235, 1);
            }

            .red {
                color: red;
            }

            .rating {
                display: block;
                width: 20px;
                height: 20px;
                transition: all 0.25s ease;

                &:nth-child(2) {
                    margin-left: 2vh;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
        }
    }

    // Amount of likes for the current quote
    .site--quote-likes {
        display: block;
        position: fixed;
        bottom: 0;
        right: 1.5vw;
    }
}

// Responsive adaptions
