// Phone devices
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .loading-title {
        font-size: 4vh;
    }
}

// Tablets
@media screen
  and (min-device-width: 1024px) {
      .quote-wrapper .site--character img {
          width: 38%;
      }

      .quote-wrapper .site--quote .quote {
          font-size: 10vh;
      }

      .quote-wrapper .site--quote .site--quote-info {
          font-size: 3vh;
      }

      .quote-wrapper .site--info {
          top: 4%;
          left: 50%;
      }
}
